<div class="container">
    <form action="">
        <div class="row">
            <div class="col">
                <h3 class="title">Build Addres</h3>
                <div class="inputBox">
                    <span>full name: </span>
                    <input type="text" placeholder="john deo">
                </div>
                <div class="inputBox">
                    <span>email: </span>
                    <input type="email" placeholder="example@gmail.com">
                </div>
                <div class="inputBox">
                    <span>address : </span>
                    <input type="text" placeholder="room - street - locality">
                </div>
                <div class="inputBox">
                    <span>city: </span>
                    <input type="text" placeholder="numbai">
                </div>
                <div class="inputBox">
                    <span>state: </span>
                    <input type="text" placeholder="india">
                </div>
                <div class="inputBox">
                    <span>zip code : </span>
                    <input type="text" placeholder="123-456">
                </div>
            </div>
            <div class="col">
                <h3 class="title">payment</h3>
                <div class="inputBox">
                    <span>cards accepted : </span>
                    <div class="grid grid-rows-1 grid-flow-col gap-4">
                        <div><button (click)="paypal()"><img src="assets/paypal.png" alt=""  ></button></div>
                        <div><button (click)="express()"><img src="assets/express.png" alt="" ></button></div>
                        <div><button disabled ><img src="assets/mater.png" alt=""></button></div>
                        <div><button disabled><img src="assets/visa.png" alt=""></button></div>
                      </div>
                   <!-- <img src="/assets/card_img.png" alt=""> -->
                </div>
                <div class="inputBox">
                    <span>name on card: </span>
                    <input type="email" placeholder="mr. john deo">
                </div>
                <div class="inputBox">
                    <span>credit card number : </span>
                    <input type="number" placeholder="1111-2222-3333-4444">
                </div>
                <div class="inputBox">
                    <span>exp month : </span>
                    <input type="text" placeholder="juanary">
                </div>
                <div class="inputBox">
                    <span>exp year : </span>
                    <input type="text" placeholder="2022">
                </div>
                <div class="inputBox">
                    <span>CVV : </span>
                    <input type="text" placeholder="1234">
                </div>
            </div>
        </div>    
        <input type="submit" value="proceed to chekout" class="submit-btn">
    </form>
    
</div>
