

<div class="page-header "
style="background-image: url('../assets/images/1.svg'); background-size: cover; background-position: top center;">
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 ml-auto mr-auto">
      <div class="card card-login">
        <form #loginForm="ngForm" (ngSubmit)="submitLogin()" >
        <div class="card-header card-header-success text-center">
          <h4 class="card-title">Login</h4>
          <div class="social-line">
           <a href="#i" class="btn btn-just-icon btn-link"> <i class="material-icons">lock_outline</i></a>
            <a href="#i" class="btn btn-just-icon btn-link"><i class="material-icons">face</i></a>
            <a href="#i" class="btn btn-just-icon btn-link"><i class="material-icons">email</i></a>
             
           
           
          </div>
            

          </div>
          <p class="description text-center">Administrador</p>
       
          
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="material-icons">face</i>
              </span>
            </div>

            
            <div class="input-group-append">
              
              <input type="email" class="form-control" id="email" name="email" [(ngModel)]="form.email" required>
              
             
            </div>

          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="material-icons">lock_outline</i>
              </span>
            
            </div>
           
            <div class="input-group-append">
           
              <input type="password" class="form-control" id="password"  name="password" [(ngModel)]="form.password" required>
              
            </div>

          </div>
          
          
       <button type="submit" class="btn btn-success" [disabled]="" routerLink="/admin">Login</button> 
            <!-- <a class="forgot" href="" >Forgot Password?</a>
          <a routerLink="/register" class="nav-link text-center text-danger"> Register a New Account</a>-->
  
          
   </form>
      </div>

      <div class="row mt-3">
        <div class="col-6">
          <a href="#" class="btn btn-outline-success btn-sm "><small>Olvidaste tu contraseña?</small></a>
        </div>
        <div class="col-6 text-right">
          <a class="btn btn-outline-success btn-sm" href="#/register"><small>Crear nueva cuenta</small></a>
        </div>
      </div>
    


  </div>
</div>

</div>