<main class="flex items-center justify-center h-screen bg-gray-100">
  <form   [formGroup]="registerForm" (ngSubmit)="registrarse()">
    <div class="bg-white w-96 p-6 rounded shadow-2xl">
      <div class="flex items-center justify-center mb-4">
        <img src="/assets/logohome_icon.svg" class="h-32" />
      </div>

      <label class="input-group py-2 px-1">
        <span> Usuario <i class="fa-solid fa-user"></i></span>
        <input
          formControlName="name"
          type="text"
          placeholder="userinfo"
          class="input input-bordered w-full"
        />
      </label>

      <label class="input-group py-2 px-1">
        <span> Correo <i class="fa-regular fa-envelope"></i></span>

        <input
        formControlName="email"
          type="email"
          placeholder="info@site.com"
          class="input input-bordered w-full"
        />
      </label>
      <label class="input-group py-2 px-1">
        <span>Contraseña <i class="fas fa-user-lock"></i></span>
        <input
          formControlName="password" 
          placeholder="**********"
          type="password"
          class="input input-bordered w-full"
        />
      </label>
      <!-- <label class="text-gray-700">Password</label>
        <input
          type="password"
          class="w-full py-2 bg-gray-50 text-gray-500 px-1 outline-none mb-4"
        /> -->
      <!-- <input type="checkbox" id="remember" class="mb-4" />
      <label for="remember" class="text-gray-700">Remember me</label> -->
      <button
        type="submit"
        class="bg-blue-500 mt-6 mb-6 w-full text-gray-100 py-2 rounded hover:bg-blue-600 transition-colors"
      >
       Registrarse
      </button>
    </div>
  </form>
</main>
