<div class="flex justify-between py-1 px-20 bg-white shadow-md z-50 fixed top-0 left-0 right-0 bar">
    <div class="flex justify-between pr-20 w-1/2 ">
        <div>  
            <a routerLink=""
                routerLinkActive=""
            > <img class="w-9 mt-3" src="../../../assets/logohome_icon.svg"/> </a>     
        </div>
        <div class="">
            <input class="my-3 w-64 py-1 px-4 border-2 rounded-md"
                type="text" 
                placeholder="Search..."
            /> 
        </div>
    </div>     
    <div class="flex justify-around w-1/5">
        <div class="my-4">
            <a class="my-4 font-semibold text-sm"
                routerLink="auth/login"
                routerLinkActive=""
            > Iniciar Sesión </a>
        </div>
        <div class="my-4">
            <a class="my-4 font-semibold text-sm"
                routerLink="auth/register"
                routerLinkActive=""
            > Registrarse </a>
        </div>
       
    </div>     
</div>  